<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <style media="screen">
      h6 {
        color: grey;
      }
      h6.good {
        color: lightgreen;
      }
    </style>
    <script type="text/javascript">
    function getArgs() {
      splt = window.location.search.slice(1).split("&")
      search = {}

      for (ind in splt) {
        console.log(ind)
        v = splt[ind].split("=")
        search[v[0]] = v[1]
      }
      return search
    }

    function parseArgs(search) {
      text = "?"

      for (key in search) {
        text += `${key}=${search[key]}&`
      }

      text = text.slice(0, -1)

      return text
    }
    </script>
    {% block head %}
    {% endblock %}
  </head>
  <body {% block battributes %}{% endblock %}>
    Welocome to <b>CFT</b>!
    {% block body %}{% endblock %}
  </body>
</html>
