{% extends "base.html" %}
{% block head %}
<script type="text/javascript">
  function submit() {
    search = getArgs()
    search["action"] = "submit"
    search["flag"] = document.getElementById('submit-task').value
    document.location.search = parseArgs(search)
  }

  function view() {
    search = getArgs()
    search["action"] = "list"
    text = parseArgs(search)
    document.location.href = `${document.location.origin}/{{ task.identifier }}${text}${document.location.hash}`
  }
</script>
{% endblock %}
{% block body %}
<br><div>
<b>{{ task.title }}</b>
<h6>{{ task.description }}</h6>
{% if task.is_solved(user) %}
<h6 class="good">This challenge was solved and the flag was:</h6>
<h6 class="good">{{ task.flag }}</h6><br>
<button type="button" onclick="view()">Go to sub-challenges</button>
{% else %}
<p> Flag:</p>
<input type="text" id="submit-task"> <button type="button" onclick="submit()">check</button>
</div>
{% endif %}
{% endblock %}
